<p id="notice"><%= notice %></p>

<div class="news">
  <%= @newsitem.title %>
  <%= @newsitem.user.first_name %>
  <%= User.find(@newsitem.user_id).first_name %>

  <%= @newsitem.content.markdown.html_safe %>

  <%= link_to 'Edit', edit_newsitem_path(@newsitem) %>
</div>

<%= link_to 'Back', newsitems_path %>
