<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @tutorial.name %>
</p>

<p>
  <b>Description:</b>
  <%= raw(BBCodeizer.bbcodeize(@tutorial.description)) %>
</p>

<p>
  <b>Content:</b>
  <%= raw(BBCodeizer.bbcodeize(@tutorial.content)) %>
</p>

<%= link_to 'Edit', edit_tutorial_path(@tutorial) %> |
<%= link_to 'Back', subjects_path %>
