<div class="twelve columns">

<%= link_to 'New Subject', new_subject_path %>
  
<% for subject in @subjects %>

<div class="news">
  <h2><%= link_to subject.name, subject %></h2>
  <div class="meta right">
    <%= link_to 'Edit', edit_subject_path(subject) %> | <%= link_to 'Delete', subject, confirm: 'Are you sure?', method: :delete %> 
  </div>
  
    <%= subject.description.markdown.html_safe %>
   
    There are currently <%= subject.tutorials.count %> tutorials for this subject.
</div>

<% end %>

</div>