<div class="twelve columns">

<h2> Available Tutorials for <%= @subject.name %></h2>

<p><%= @subject.description.markdown.html_safe %> <%= link_to 'Edit subject', edit_subject_path(@subject) %></p>

<!-- add link to new tutorial for this subject.-->
  <ol class="tutorial-group">
    
<% @subject.tutorials.each do |tutorial| %>
    <li class="tutorial-group-item">
      <p class="tutorial-title">
        <h3><%= link_to tutorial.name, tutorial%></h3>
      </p>
      <p class="tutorial-desc">
        <%= tutorial.description %>
      </p>
      <div class="tutorial-links">
        <%= link_to 'Edit', edit_tutorial_path(tutorial) %>
        <%= link_to 'Delete', tutorial, confirm: 'Are you sure?', method: :delete %>
      </div>
    </li>
<% end %>

  </ol>
  
<%= link_to 'Back', subjects_path %>

</div>

