<div class="twelve columns">

<h2> Available Tutorials for <%= @subject.name %></h2>

<%= @subject.description.markdown.html_safe %>
<%= link_to 'Edit subject', edit_subject_path(@subject) %>
<!-- add link to new tutorial for current subject.-->
  <br/><br/>
  <table class="t">
        <tr class="heen" onmouseover="this.className='heenhover'" onmouseout="this.className='heen'">
            <td>
                <table>
                    <tr>
                        <td>
                            <%= link_to image_tag("small-add.png", :border=>0, :class=>'listimage'), new_tutorial_path %>
                        </td>
                        <td>
                            <h3 class="tutorial-title"><%= link_to 'New Tutorial', new_tutorial_path %></h3>
                        </td>
                    </tr>
                </table>
                <br/>
            </td>
        </tr>
        <% @subject.tutorials.each do |tutorial| %>
              <tr class="jaam" onmouseover="this.className='jaamhover'" onmouseout="this.className='jaam'">
                  <td>
                      <table class="t">
                          <tr>
                              <td>
                                <h3 class="tutorial-title">
                                    <%= link_to tutorial.name, tutorial %>
                                </h3>
                                <p class="tutorial-desc">
                                    <%= tutorial.description %>
                                </p>
                              </td>
                              <td class="tutor-links" align="right">
                                  <%= link_to image_tag("edit-icon.png", :border=>0, :class=>'listimage'), edit_tutorial_path(tutorial) %>
                                  &nbsp;
                                  <%= link_to image_tag("delete-icon.png", :border=>0, :class=>'listimage'), tutorial, confirm: 'Are you sure?', method: :delete %>
                              </td>
                          </tr>
                      </table>
                  </td>
              </tr>
        <% end %>
  </table>
  <br/><br/>
<%= link_to 'Back', subjects_path %>

</div>
