<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
================================================== -->
<meta charset="utf-8">
<title>Tutorial</title>
<meta name="description" content="Tutorial framework for learning Glasgow Parallel Haskell">
<meta name="author" content="Jamie Spence">
<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
	
	<!-- Mobile Specific Metas
================================================== -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
	<!-- CSS
 ================================================== -->
<%= stylesheet_link_tag "application" %>

	<!-- JS
================================================== -->
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>
</head>
<body onload="prettyPrint()">


	<!-- Primary Page Layout
================================================== -->

<div class="container">
  <header>
	
  <nav class="eight columns">
    <ul>
      <li><%= link_to 'Home', newsitems_path %></li>
      <li><%= link_to 'Subjects', subjects_path %></li>
    </ul>
  </nav>

  <div class="login four columns">
	<ul>
		<%= render 'devise/menu/registration_items' %>
		<%= render 'devise/menu/login_items' %>
	</ul>
  </div>

  <hr />
</header>

<div class="four columns>
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
</div>

	<%= yield %>

</div><!-- container -->
	
<!-- End Document 
================================================== -->
</body>
</html>
